<h1>Update A Todo</h1>
<form action="/todo/create">
    <input name="description" type="text" placeholder="enter pomodoro"value=<%=@todo.description %>> 
    <input name="pomodoro_estimate" type="number" placeholder="enter pomodoro" value=<%= @todo.pomodoro_estimate %> >  
    <input id="add-new-todo-button" type="submit" value= "create todo">
</form>