<h1>Todo App</h1>

        <ul>
            <% @list.each do |todo| %>
            <li>
                <input id="checkBox" type="checkbox">
                <a href="/todo/show/<%=todo.id%>"><%= todo.description %> </a>
                <span class="pomodoro-estimate"><%=todo.pomodoro_estimate%> pomodoros</span> 
            </li> 
            <% end %> 
            <a href="/todo/new"> Add Todo</a>
        </ul>
        
       
     