<h3>todo <%= params[:id] %></h3>
<div id=showdiv>
             <h1>My Page</h1>
             <input type="checkbox">
             <h1><%= @todo.description%> <%= @todo.pomodoro_estimate %> Pomodoros</h1>
             <a href=<%="/todo/edit/#{@todo.id}"%>>edit</a>
             <a href="#">delete</a>
             <a href="/todo/index">go back</a>
            
        </div>
       
        